.wrap {
  position: relative;
}

.userInfo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.userInfo svg {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

.userInfo.active svg {
  opacity: 1;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-position: center;
}

.avatar + svg {
  color: var(--color-white);
  width: 24px;
  height: 24px;
}

.avatar + svg path:last-child {
  fill: currentColor;
}

@media (max-width: 768px) {
  .avatar {
    width: 36px;
    height: 36px;
  }

  .avatar + svg {
    display: none;
  }
}

@media (hover: hover) {
  .userInfo:hover svg {
    opacity: 1;
  }
}
