.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--rgba-black-50);
}

.modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--color-zinc-800);
}

.modal.widthLarge {
  max-width: 1200px;
}

.modal.widthDefault {
  max-width: 768px;
}

.modal.widthSmall {
  max-width: 500px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 42px;
  padding: 0 12px;
}

.modalHeaderButtonGroup {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-left: auto;
}

.modalBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  padding: 30px 120px;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.modalBodyColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bodyTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin-bottom: 20px;
}

.username {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: var(--color-gray-100);
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.close svg {
  width: 20px;
  height: 20px;
  color: var(--color-white);
}

.modalBodyButtons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 12px;
  column-gap: 12px;
}

.modalBodyButton {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBodyButton svg {
  width: 100%;
  height: 100%;
  color: var(--color-zinc-400);
}

.date {
  color: var(--color-gray-300);
}

.whiteDimmed {
  position: relative;
}

.whiteDimmed::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.whiteDimmed.active::before {
  opacity: 1;
  visibility: visible;
}

.bodyTop.modalType .username {
  font-size: 24px;
}

.bodyTop.detailType .username {
  font-size: 32px;
}

.bodyTop.modalType .date {
  font-size: 14px;
}

.bodyTop.detailType .date {
  font-size: 18px;
}

.img {
  border-radius: 50%;
}

.bodyTop.modalType .img {
  width: 36px;
  height: 36px;
}

.bodyTop.detailType .img {
  width: 48px;
  height: 48px;
}

.titleArea {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.modalBodyButtons.detailType .modalBodyButton {
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-white);
  background-color: var(--color-zinc-700);
}
