.wrap {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
  border: 1px solid var(--border);
  border-radius: 8px;
}

.topDownButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: 0.3s ease;
  background-color: var(--color-gray-950);
}

.topDownButton:first-child {
  border-radius: 8px 8px 0 0;
}

.topDownButton:last-child {
  border-radius: 0 0 8px 8px;
}

.topDownButton + .topDownButton {
  border-top: 1px solid var(--border);
}

.topDownButton svg {
  width: 20px;
  height: 20px;
  color: var(--svg-gray);
  transition: 0.3s ease;
}

.topDownButton:hover {
  background-color: var(--color-black);
}

.topDownButton:hover svg {
  color: var(--color-white);
}
