.pageBackground {
  position: relative;
}

.pageBackground::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--rgba-black-50);
  pointer-events: none;
}

.pageBackground.main::before {
  width: 100vw;
  height: 100vh;
}

.pageBackground.sub {
  padding-inline: 16px;
}

.pageBackground.sub::before {
  display: none;
}

.pageBackground.myyps {
  padding: 30px 16px;
}

@media (max-width: 768px) {
  .pageBackground.myyps {
    padding: 16px;
  }
}
