.wrap {
  position: relative;
}

.userInfo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.userInfo svg {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

.userInfo.active svg {
  opacity: 1;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-position: center;
}

.avatar + svg {
  color: var(--color-white);
  width: 28px;
  height: 28px;
}

.avatar + svg path:last-child {
  fill: currentColor;
}

@media (hover: hover) {
  .userInfo:hover svg {
    opacity: 1;
  }
}
