.header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid var(--border);
  backdrop-filter: blur(8px);
  padding: var(--contents-side-padding);
  background-color: var(--color-zinc-800);
}

.headerRowBox {
  height: 100%;
}

.headerRow {
  height: 100%;
}

.headerInner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  height: 100%;
}

.headerInner a {
  display: flex;
  align-items: center;
}

.headerLeft {
  display: flex;
  align-items: center;
  column-gap: 62px;
  height: 100%;
}

.headerRight {
  display: flex;
  align-items: center;
  column-gap: 16px;
  height: 100%;
}

@media (max-width: 1440px) {
  .headerLeft img {
    width: 120px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 11.5px 16px 0 16px;
  }

  .headerLeft img {
    width: 100px;
  }

  .headerRowBox {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}
