.layout {
  position: relative;
  min-height: 100vh;
}

.contents {
  flex: 1;
  min-width: 0;
  padding-bottom: var(--sub-margin);
}

.contentsHeader {
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--sub-header-height);
  padding: 0 var(--sub-margin);
  backdrop-filter: blur(48px);
  z-index: 20;
}

#headerGlass {
  position: fixed;
  left: 0;
  width: 100%;
  height: var(--sub-header-height);
  background-color: var(--theme-header-glass);
  z-index: 10;
}

@media (max-width: 1024px) {
  .layout {
    flex-direction: column;
  }

  .contentsHeader {
    top: 8px;
  }
}
