.textBox.regularText .titleBoxInTitle:not(.gradationText) {
  font-weight: 400;
}

.textBox.fzLarge .titleBoxInTitle {
  font-size: 48px;
}

.textBox.fzSmall .titleBoxInTitle {
  font-size: 22px;
}

.textBox.wrap .titleBox {
  flex-wrap: wrap;
  justify-content: center;
}
