:root {
  --border-angle: 0deg;
  --border-bg: #000;
  --media-card-height: 400px;
  --card-album-height: 412px;
  --card-default-height: 444px;
}

.textBox.regularText .titleBoxInTitle:not(.gradationText) {
  font-weight: 400;
}

.textBox.fzLarge .titleBoxInTitle {
  font-size: 48px;
}

.textBox.fzMedium .titleBoxInTitle {
  font-size: 36px;
}

.textBox.fzXSmall .titleBoxInTitle {
  font-size: 18px;
}

.textBox.fzSmall .titleBoxInTitle {
  font-size: 22px;
}

.textBox.fzSmall .description {
  font-size: 24px;
}

.textBox.color-white .description {
  color: var(--color-white);
}

.rowGapXs {
  row-gap: 12px;
}

.rowGapMd {
  row-gap: 20px;
}

.rowGapSm {
  row-gap: 14px;
}

.titleBoxGapXs .titleBox {
  column-gap: 16px;
}

.titleBoxGapSm .titleBox {
  column-gap: 20px;
}

.textBox.wrap .titleBox {
  flex-wrap: wrap;
  justify-content: center;
}

.descriptionBox.hasDot .description::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentColor;
}

.descriptionBox.color-white .description {
  color: var(--color-white);
}

.descriptionBox.color-gray .description {
  color: var(--color-gray-200);
}

.descriptionBox.fzMedium .description {
  font-size: 24px;
}

.descriptionBox.fzSmall .description {
  font-size: 16px;
}

.seventhSectionSwiper {
  width: 100%;
  max-width: 800px;
}

.seventhSectionSwiper .swiper-wrapper {
  width: 100%;
}

.seventhSectionSwiper .swiper-slide {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.ninethSectionSwiper,
.tenSectionSwiper {
  width: 100%;
}

[class*="swiper-button"] {
  top: 50% !important;
  transform: translateY(calc(-50% + 63px)) !important;
  margin: 0 !important;
  color: var(--color-violet-800);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-white);
}

[class*="swiper-button"] svg {
  width: 32px;
  height: 32px;
}

.swiper-button-prev {
  left: -80px !important;
}

.swiper-button-next {
  right: -80px !important;
}

.horizontalStart {
  justify-content: flex-start;
}

.horizontalCenter {
  justify-content: center;
}

.horizontalEnd {
  justify-content: flex-end;
}

.verticalStart {
  align-items: flex-start;
}

.verticalCenter {
  align-items: center;
}

.verticalEnd {
  align-items: flex-end;
}

.w-48 {
  width: 192px;
}

.w-64 {
  width: 256px;
}

.w-80 {
  width: 320px;
}

.h-64 {
  height: 256px;
}

.h-80 {
  height: 320px;
}

.h-96 {
  height: 384px;
}

.cardTitleArea {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  padding: 0 16px;
  min-height: 48px;
  border-top: 3px solid var(--color-black);
  text-align: center;
}

.cardTitle {
  font-weight: 700;
  font-size: 20px;
  color: var(--color-white);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cardTop {
  position: relative;
}

.cardLabel {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 0 8px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-white);
  background-color: currentColor;
  z-index: 1;
}

.cardBottom {
  display: flex;
  flex-direction: column;
}

.cardText {
  text-align: center;
  font-size: 16px;
  color: var(--color-white);
  padding: 8.5px 0;
  font-weight: 600;
}

.cardText.date {
  font-weight: 400;
  font-size: 14px;
}

.cardColumn {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-zinc-700);
}

.cardColumn.list {
  row-gap: 6px;
  padding-top: 8.5px;
}

.cardColumn.list .cardText {
  padding: 0;
}

.cardTitleArea + .cardColumn {
  border-top: 0;
}

.spotlightCard {
  box-shadow: 0px 2px 4px hsl(0 0% 0% / 25%);
  animation: border-angle-rotate 2s infinite linear;
  border: 0.5rem solid transparent;
  height: var(--card-default-height);
}

.spotlightCard.album {
  height: var(--card-album-height);
}

.spotlightCard.media {
  height: var(--media-card-height);
}

.spotlightCard.media .cardBottom {
  height: calc(100% - 275px);
  justify-content: space-between;
}

.spotlightCard.media .cardText {
  padding: 0 12px 12px 0;
  margin-left: auto;
}

.spotlightCard.media .cardTitle {
  font-size: 16px;
}

.spotlightCard.macaroniCheeze {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--macaroni-cheeze-album)
      )
      border-box;
}

.spotlightCard.youngPosseUp {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--young-posse-up-album)
      )
      border-box;
}

.spotlightCard.xxl {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--xxl-album)
      )
      border-box;
}

.spotlightCard.onMyScars {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--on-my-scars-album)
      )
      border-box;
}

.spotlightCard.ateThat {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--ate-that-album)
      )
      border-box;
}

.spotlightCard.weStillLoading {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--we-still-loading-album)
      )
      border-box;
}

.spotlightCard.streetCarol {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--street-carol-album)
      )
      border-box;
}

.spotlightCard.cold {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--cold-album)
      )
      border-box;
}

.spotlightCard.growingPain {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--growing-pain-album)
      )
      border-box;
}

.spotlightCard.sunhye {
  color: var(--sunhye);
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--sunhye)
      )
      border-box;
}

.spotlightCard.yeonjung {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--yeonjung)
      )
      border-box;
}

.spotlightCard.jiana {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(from var(--border-angle), var(--border-bg) 50%, var(--jiana))
      border-box;
}

.spotlightCard.doeun {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(from var(--border-angle), var(--border-bg) 50%, var(--doeun))
      border-box;
}

.spotlightCard.jieun {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(from var(--border-angle), var(--border-bg) 50%, var(--jieun))
      border-box;
}

.spotlightCard.sunhye .cardTitleArea {
  background-color: var(--sunhye);
}

.spotlightCard.sunhye .cardTitle {
  color: var(--color-black);
}

.spotlightCard.yeonjung .cardTitleArea {
  background-color: var(--yeonjung);
}

.spotlightCard.jiana .cardTitleArea {
  background-color: var(--jiana);
}

.spotlightCard.doeun .cardTitleArea {
  background-color: var(--doeun);
}

.spotlightCard.jieun .cardTitleArea {
  background-color: var(--jieun);
}

.spotlightCard.macaroniCheeze .cardTitleArea {
  background-color: var(--macaroni-cheeze-album);
}

.spotlightCard.macaroniCheeze .cardTitle {
  color: var(--color-black);
}

.spotlightCard.youngPosseUp .cardTitleArea {
  background-color: var(--young-posse-up-album);
}

.spotlightCard.xxl .cardTitleArea {
  background-color: var(--xxl-album);
}

.spotlightCard.onMyScars .cardTitleArea {
  background-color: var(--on-my-scars-album);
}

.spotlightCard.ateThat .cardTitleArea {
  background-color: var(--ate-that-album);
}

.spotlightCard.weStillLoading .cardTitleArea {
  background-color: var(--we-still-loading-album);
}

.spotlightCard.streetCarol .cardTitleArea {
  background-color: var(--street-carol-album);
}

.spotlightCard.streetCarol .cardTitle {
  color: var(--color-black);
}

.spotlightCard.cold .cardTitleArea {
  background-color: var(--cold-album);
}

.spotlightCard.growingPain .cardTitleArea {
  background-color: var(--growing-pain-album);
}

.spotlightCard.sunhye {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--sunhye)
      )
      border-box;
}

.spotlightCard.sunhye .cardLabel {
  color: var(--color-black);
  background-color: var(--sunhye);
}

.spotlightCard.yeonjung {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        var(--border-bg) 50%,
        var(--yeonjung)
      )
      border-box;
}

.spotlightCard.yeonjung .cardLabel {
  background-color: var(--yeonjung);
}

.spotlightCard.jiana {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(from var(--border-angle), var(--border-bg) 50%, var(--jiana))
      border-box;
}

.spotlightCard.jiana .cardLabel {
  background-color: var(--jiana);
}

.spotlightCard.doeun {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(from var(--border-angle), var(--border-bg) 50%, var(--doeun))
      border-box;
}

.spotlightCard.doeun .cardLabel {
  background-color: var(--doeun);
}

.spotlightCard.jieun {
  background: linear-gradient(var(--color-zinc-900), var(--color-zinc-900))
      padding-box,
    conic-gradient(from var(--border-angle), var(--border-bg) 50%, var(--jieun))
      border-box;
}

.spotlightCard.jieun .cardLabel {
  background-color: var(--jieun);
}

.hasSwiperBox.swiper2 {
  max-width: none;
  margin: 0;
}

.cardWrapper.noGrid {
  display: flex;
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonHasIcon::before {
  content: "";
  width: 36px;
  height: 36px;
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: center center;
}

.buttonSizeLg {
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  padding: 0 16px;
  column-gap: 8px;
}

.buttonBgWhite {
  border: 1px solid var(--color-black);
  color: var(--color-zinc-900);
  background-color: var(--color-white);
}

.roundedFull {
  border-radius: 9999px;
}

.roundedLg {
  border-radius: 12px;
}

.roundedMd {
  border-radius: 8px;
}

.buttonHasIcon.spotify::before {
  background-image: url("/icons/socialLogo/logo-spotify.png");
}

.buttonHasIcon.bstage::before {
  background-image: url("/icons/socialLogo/logo-bstage.svg");
}

.buttonHasIcon.instagram::before {
  background-image: url("/icons/socialLogo/logo-instagram.webp");
}

.buttonHasIcon.kakaotalk::before {
  background-image: url("/icons/socialLogo/logo-kakaotalk.png");
}

.buttonHasIcon.tiktok::before {
  background-image: url("/icons/socialLogo/logo-tiktok.jpg");
}

.buttonHasIcon.twitter::before {
  background-image: url("/icons/socialLogo/logo-x.svg");
}

.buttonHasIcon.youtube::before {
  background-image: url("/icons/socialLogo/logo-youtube.png");
}

.buttonHasIcon.blip::before {
  border-radius: 20%;
  background-image: url("/icons/socialLogo/logo-blip.png");
}

@keyframes border-angle-rotate {
  from {
    --border-angle: 0deg;
  }
  to {
    --border-angle: 360deg;
  }
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
