.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.grid {
  display: grid;
}

.place-items-center {
  place-items: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.text-wrap {
  text-wrap: wrap;
}

.text-nowrap {
  text-wrap: nowrap;
}

.text-balance {
  text-wrap: balance;
}

.text-pretty {
  text-wrap: pretty;
}

.absolute {
  position: absolute;
}

.pointer-events-none {
  pointer-events: none;
}

.blur-xs {
  filter: blur(var(--blur-xs)); /* 4px */
}

.blur-sm {
  filter: blur(var(--blur-sm)); /* 8px */
}

.blur-md {
  filter: blur(var(--blur-md)); /* 12px */
}

.blur-lg {
  filter: blur(var(--blur-lg)); /* 16px */
}

.blur-xl {
  filter: blur(var(--blur-xl)); /* 24px */
}

.blur-2xl {
  filter: blur(var(--blur-2xl)); /* 40px */
}

.blur-3xl {
  filter: blur(var(--blur-3xl)); /* 64px */
}

.border-30px {
  border-width: 30px;
}

.p-2 {
  padding: 8px;
}

.rounded-xl {
  border-radius: 12px;
}

.-z-10 {
  z-index: -10;
}

.-inset-4 {
  inset: -16px;
}

[class*="border-"] {
  border-style: solid;
}
