/* light*/
:root {
  --theme-body: var(--color-white);
  --theme-body-sub: var(--color-zinc-50);
  --theme-header: #fff6;
  --theme-header-border: var(--color-gray-300);
  --theme-footer-border: var(--color-gray-300);
  --theme-footer-border2: var(--color-gray-300);
  --theme-form-border: var(--color-gray-300);
  --theme-title: var(--color-gray-900);
  --theme-date: var(--color-gray-500);
  --theme-button-border2-svg: var(--color-zinc-600);
  --theme-button-border2-border: var(--color-zinc-600);
  --theme-button-gray2-color: var(--color-zinc-900);
  --theme-button-gray2-background: var(--color-white);
  --theme-footer: var(--color-gray-200);
  --theme-footer-text: var(--color-gray-950);
  --theme-footer-hover-svg: var(--color-gray-900);
  --theme-menu-dropdown-border: var(--color-gray-300);
  --theme-menu-dropdown-background: var(--color-white);
  --theme-menu-dropdown-hover-background: var(--color-gray-100);
  --theme-menu-dropdown-text: var(--color-gray-900);
  --theme-sub-title: var(--color-gray-700);
  --theme-sub-description: var(--color-gray-500);
  --theme-white-button-background: var(--color-white);
  --theme-white-button-svg: var(--color-gray-900);
  --theme-button-box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
  --theme-modal-background: var(--color-white);
  --theme-modal-dimmed: rgba(255, 255, 255, 0.5);
}

/* dark */
@media (prefers-color-scheme: dark) {
  :root {
    --theme-body: var(--color-zinc-800);
    --theme-body-sub: var(--color-zinc-800);
    --theme-header: rgba(255, 255, 255, 0.2);
    --theme-header-border: rgba(255, 255, 255, 0.5);
    --theme-footer-border: var(--color-gray-700);
    --theme-footer-border2: var(--color-gray-800);
    --theme-form-border: var(--color-gray-800);
    --theme-title: var(--color-gray-100);
    --theme-date: var(--color-gray-300);
    --theme-button-border2-svg: var(--color-white);
    --theme-button-border2-border: var(--color-white);
    --theme-button-gray2-color: var(--color-zinc-100);
    --theme-button-gray2-background: var(--color-gray-800);
    --theme-footer: var(--color-black);
    --theme-footer-text: var(--color-gray-100);
    --theme-footer-hover-svg: var(--color-gray-100);
    --theme-menu-dropdown-border: var(--color-zinc-700);
    --theme-menu-dropdown-background: var(--color-zinc-800);
    --theme-menu-dropdown-hover-background: var(--color-zinc-900);
    --theme-menu-dropdown-text: var(--color-gray-100);
    --theme-sub-title: var(--color-gray-50);
    --theme-sub-description: var(--color-gray-200);
    --theme-white-button-background: var(--color-gray-900);
    --theme-white-button-svg: var(--color-white);
    --theme-button-box-shadow: 0 2px 16px 0 #28292c;
    --theme-modal-background: var(--color-zinc-800);
    --theme-modal-dimmed: rgba(0, 0, 0, 0.5);
  }
}
