.wrap {
  display: flex;
  aspect-ratio: inherit;
}

.myypsModalStyle {
  border-radius: 12px;
  padding: 16px;
  background-color: var(--color-zinc-800);
  max-width: 448px;
}

.stickyWrap {
  position: sticky;
  bottom: 20px;
}

.inner {
  cursor: default;
  z-index: 0;
}

.authModalStyle {
  border-radius: 12px;
  padding: 16px;
  background-color: var(--color-zinc-800);
  max-width: 800px;
  height: 500px;
}

.authModalStyle .motionDivInner {
  height: 100%;
}

.authModalStyle .motionDivBody {
  margin-top: 46px;
  height: calc(100% - 79px);
}

.motionDivInner {
  width: 100%;
}

.motionDivHead {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.motionDivTitle {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-white);
}

.closeButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  box-shadow: none;
}

.motionDivBody {
  position: relative;
  height: 100%;
  margin-top: 16px;
}

.buttonArea {
  margin-top: 32px;
}

.buttonArea button {
  width: 100%;
}

.desc,
.smallDesc {
  text-align: center;
  line-height: 1.5;
}

.desc {
  padding-top: 16px;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-zinc-200);
}

.smallDesc {
  font-size: 12px;
  color: var(--color-zinc-400);
}

.authButtonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 32px 0;
}

.authButtonGroup button {
  display: flex;
  align-items: center;
  column-gap: 8px;
  min-width: 180px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  transition-property: transform, box-shadow;
}

.authButtonGroup button::before {
  content: "";
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.smallDesc a {
  transition: 0.3s ease-in-out;
  margin-right: 2px;
}

@media (hover: hover) {
  .authButtonGroup button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  }

  .smallDesc a:hover {
    color: var(--color-white);
  }
}
