.loadMoreWrap {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.loadMoreButton::before,
.loadMoreButton::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 510px);
  height: 1px;
  background-color: var(--color-zinc-600);
}

.loadMoreButton::before {
  left: 0;
}

.loadMoreButton::after {
  right: 0;
}

.loadMoreEndText {
  font-size: 16px;
  color: var(--color-black);
}

.loadMoreEndText::after {
  width: fit-content;
}

.loadMoreEndText::before,
.loadMoreEndText::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 560px);
  height: 1px;
  background-color: var(--color-zinc-600);
}

.loadMoreEndText::before {
  left: 0;
}

.loadMoreEndText::after {
  right: 0;
}
