.descriptionBox {
  position: absolute;
  bottom: 20px;
  line-height: 1.5;
  max-width: 700px;
}

.descriptionBox.row {
  display: flex;
  align-items: center;
}

.descriptionBox.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1024px) {
}

@media (max-width: 620px) {
  .descriptionBox {
    max-width: 500px;
  }
}
