.wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 60px;
  width: 100vw;
  height: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  transition-property: visibility, height;
  backdrop-filter: blur(8px);
  overflow: hidden;
  background-color: var(--color-black);
  display: none;
}

.wrap.active {
  visibility: visible;
  height: var(--mobile-navigation-height);
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  color: var(--color-white);
}

.localeItem {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-zinc-400);
  overflow-x: auto;
}

.localeLink {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px;
  white-space: nowrap;
}

.localeLink::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 14px;
  background-color: var(--color-zinc-400);
}

.localeLink:last-child:after {
  display: none;
}

.localeLink.active {
  color: var(--color-white);
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--contents-side-padding);
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (max-width: 768px) {
  .wrap {
    display: block;
  }
}
