.writeButtonSkeletonWrapper {
  position: sticky;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}

.writeButtonSkeleton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 20px;
  background-color: var(--color-zinc-700);
}

/* 기본이 다크라서 light로 */
@media (prefers-color-scheme: light) {
  .writeButtonSkeleton {
    background-color: var(--color-gray-300);
  }
}
