.overlay {
  position: fixed;
  top: auto;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-modal-dimmed);
  backdrop-filter: var(--modal-blur);
}

.modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: var(--theme-modal-background);
}

.modal.widthLarge {
  max-width: 1200px;
}

.modal.widthDefault {
  max-width: 768px;
}

.modal.widthSmall {
  max-width: 500px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
}

.modalHeaderButtonGroup {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-left: auto;
}

.modalBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  padding: 0 120px 64px 120px;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.modalBodyColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bodyTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin-bottom: 12px;
}

.username {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: var(--theme-sub-title);
}

.modalBodyButtons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 12px;
  column-gap: 4px;
}

.date {
  color: var(--theme-date);
}

.whiteDimmed {
  position: relative;
}

.whiteDimmed::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.whiteDimmed.active::before {
  opacity: 1;
  visibility: visible;
}

.bodyTop.modalType .username {
  font-size: 24px;
}

.bodyTop.detailType .username {
  font-size: 32px;
}

.bodyTop.modalType .date {
  font-size: 14px;
}

.bodyTop.detailType .date {
  font-size: 18px;
}

/* .bodyTop.detailType {
  position: sticky;
  top: 20px;
  width: fit-content;
  border-radius: 8px;
  background-color: var(--color-zinc-800);
  margin: 0 auto 20px auto;
} */

.img {
  padding: 4px;
  border-radius: 50%;
  border: 1px solid var(--theme-button-border2-border);
}

.imgScaleDown {
  padding: 8px;
}

.bodyTop.modalType .img {
  width: 36px;
  height: 36px;
}

.bodyTop.detailType .img {
  width: 48px;
  height: 48px;
}

.titleArea {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.modalBodyButtons.detailType {
  column-gap: 12px;
}
