.motionTextareaInfo {
  display: flex;
  align-items: center;
}

.motionTextareaInfo.between {
  justify-content: space-between;
}

.motionTextareaInfo.end {
  justify-content: flex-end;
}

.motionTextareaInfo.upDownMargin {
  margin: 12px 0;
}

.motionTextareaInfo.topMargin {
  margin-top: 8px;
}

.fromArea {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.fromText {
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-gray-300);
}

.fromName {
  min-width: 80px;
  padding-bottom: 4px;
  font-size: 14px;
  color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-300);
}

.textareaCounter {
  text-align: right;
  font-size: 12px;
}

.textareaCounter.colorGray {
  color: var(--color-gray-300);
}

.textareaCounter.colorBlack {
  color: var(--color-black);
}
