.header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  transform: translateY(-64px);
  transition: transform 0.8s;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
}

.header.active {
  transform: translateY(0);
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

.headerInner a {
  display: flex;
  align-items: center;
}

.headerInner img {
  object-position: 0 -3px;
}
