.header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  transform: translateY(-64px);
  transition: transform 0.8s;
}

.header.active {
  transform: translateY(0);
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  height: 100%;
  padding: 0 24px;
}

.headerInner a {
  display: flex;
  align-items: center;
}

.headerInner img {
  object-position: 0 -3px;
}

.headerLeft {
  display: flex;
  align-items: center;
  column-gap: 62px;
  height: 100%;
}

.headerRight {
  display: flex;
  align-items: center;
  height: 100%;
}
