.titleBoxWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.fifthHeight {
  height: calc(100% - 380px);
}

.sixHeight {
  height: calc(100% - 380px);
}
