.titleBoxInTitle {
  position: relative;
  font-weight: 700;
  color: var(--color-white);
  text-align: center;
  white-space: pre-wrap;
  word-break: keep-all;
}

.titleBoxInTitle:lang(jp),
.titleBoxInTitle:lang(zh-CN),
.titleBoxInTitle:lang(zh-TW) {
  word-break: unset;
}
