.footer {
  position: relative;
  padding: 36px 0;
  background-color: var(--color-black);
}

.footerInner {
  padding: 0 24px;
}

.footerLinkBox {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
}

.footerLinkBoxInner {
  display: flex;
  justify-content: space-between;
  max-width: var(--layout-max-width);
  margin: 0 auto;
}

.footerNoticeBox {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.footerLogoArea {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footerLinkItem svg {
  width: 18px;
  height: 18px;
  color: rgba(255, 255, 255, 0.6);
}

.footerBottomBox {
  padding-top: 20px;
  max-width: var(--layout-max-width);
  margin: 0 auto;
}

.warningText {
  font-weight: 400;
  color: var(--color-white);
}

.warningText.copyright {
  font-size: 14px;
  opacity: 0.6;
  text-transform: uppercase;
}

.warningText.copyContents {
  font-size: 13px;
  opacity: 0.45;
}

.footerLinkWrapper {
  display: flex;
  column-gap: 100px;
}

.footerLinkSection {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex: 1;
}

.footerLinkList {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}

.footerLinkItem {
  display: flex;
  align-items: center;
  column-gap: 4px;
  min-width: 127px;
}

.footerLinkSectionTitle {
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;
  color: var(--color-white);
}

.footerLinkText {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  color: var(--color-white);
}

.footerNotice {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  color: var(--color-white);
}

@media (hover: hover) {
  .footerLinkItem:hover .footerLinkText {
    opacity: 1;
  }

  .footerLinkItem:hover svg {
    color: var(--color-white);
  }
}
