.bodyTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin-bottom: 20px;
  width: 100%;
}

.bodyTopTitleArea {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.bodyTopImg {
  width: 36px;
  height: 36px;
  border-radius: var(--rounded-full);
  background-color: var(--color-zinc-700);
}

.bodyTopUsername {
  min-width: 200px;
  height: 29px;
  border-radius: var(--rounded-md);
  background-color: var(--color-zinc-700);
}

.bodyTopDate {
  min-width: 80px;
  height: 16px;
  border-radius: var(--rounded-sm);
  background-color: var(--color-zinc-700);
}

.contentItem {
  display: flex;
  justify-content: center;
}

.contentItem.detailType {
  width: 300px;
  margin: 0 auto;
}

.contentLetterInner {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px;
  width: 100%;
  height: 300px;
  border-radius: var(--rounded-md);
  background-color: var(--color-zinc-700);
}

.contentText {
  width: 100%;
  height: 21px;
  border-radius: var(--rounded-sm);
  background-color: var(--color-zinc-600);
}

.buttonsWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 12px;
  column-gap: 4px;
}

.buttonsWrap.detailType {
  column-gap: 12px;
}

.buttonsWrap.detailType .buttonsWrapButton {
  border-radius: 0;
  width: 40px;
  height: 40px;
}

.buttonsWrapButton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-sm);
  background-color: var(--color-zinc-700);
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
}

.modalHeaderButtonGroup {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-left: auto;
}

.modalHeaderButton {
  width: 40px;
  height: 40px;
  border-radius: var(--rounded-md);
  background-color: var(--color-zinc-700);
}

/* 기본이 다크라서 light로 */
@media (prefers-color-scheme: light) {
  .bodyTopImg {
    background-color: var(--color-zinc-300);
  }

  .bodyTopUsername {
    background-color: var(--color-zinc-300);
  }

  .bodyTopDate {
    background-color: var(--color-zinc-300);
  }

  .contentLetterInner {
    background-color: var(--color-zinc-100);
  }

  .contentText {
    background-color: var(--color-zinc-200);
  }

  .buttonsWrapButton {
    background-color: var(--color-zinc-300);
  }

  .modalHeaderButton {
    background-color: var(--color-zinc-300);
  }
}
