.sectionTitle {
  position: absolute;
  top: 140px;
  left: -36px;
  width: fit-content;
  padding: 8px 154px 8px 22px;
  font-size: 44px;
  font-weight: 600;
  color: var(--color-white);
  background: url("/bg/bg-title-gradient.svg") no-repeat center;
  background-size: cover;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 40px;
    padding: 8px 90px 8px 22px;
  }
}
