.titleArea {
  margin-bottom: 26px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--theme-sub-title);
  padding-bottom: 16px;
}

.desc {
  font-size: 16px;
  color: var(--theme-sub-description);
}

.myYps {
  margin-bottom: 26px;
}

.myLetters {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .titleArea {
    padding-bottom: 8px;
  }

  .title {
    font-size: 28px;
  }
}
