.titleArea {
  margin-bottom: 48px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--color-zinc-50);
}

@media (max-width: 768px) {
  .titleArea {
    padding-bottom: 8px;
  }

  .title {
    font-size: 28px;
  }
}
