.section {
  width: 100%;
  height: 100vh;
  padding: var(--contents-side-padding);
}

.firstSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 40px;
}

.textSection {
  display: flex;
  align-items: center;
}
