.nav {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.navListItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navListItemText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  transform: scale(1);
}

@media (hover: hover) {
  .navListItemText:hover {
    color: var(--color-white);
    transform: scale(1.05);
  }
}
