.subTop {
  position: sticky;
  top: 20px;
  z-index: 100;
  margin-bottom: 40px;
  padding: var(--contents-side-padding);
  display: flex;
  align-items: center;
}

.between {
  justify-content: space-between;
}
