.subTop {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.subTopButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-white);
  background-color: var(--color-zinc-800);
}

.subTopButton svg {
  width: 20px;
  height: 20px;
  color: var(--color-white);
}

.between {
  justify-content: space-between;
}
