.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.navList {
  display: flex;
  align-items: center;
  column-gap: 32px;
  height: 100%;
}

.navListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navListItemText {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-white);
  height: 100%;
}

@media (max-width: 1440px) {
  .navListItemText {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .navList {
    overflow-x: auto;
  }

  .navListItem {
    height: 48px;
  }

  .navListItemText {
    height: 100%;
  }
}
