.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.navList {
  display: flex;
  align-items: center;
  column-gap: 8px;
  height: 100%;
}

.navListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navListItemText {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  height: 38px;
  padding: 0 16px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-gray-950);
  border: 1px solid var(--color-white);
  border-radius: 9999px;
  background: linear-gradient(
    -90deg,
    rgba(250, 197, 222, 1) 0%,
    rgba(245, 152, 194, 1) 100%
  );
  transition: 0.3s ease-in-out;

  svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1440px) {
  .navListItemText {
    min-height: 36px;
    padding: 0 14px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .navList {
    overflow-x: auto;
    column-gap: 6px;
  }

  .navListItem {
    height: 48px;
  }

  .navListItemText {
    min-height: 32px;
    font-size: 14px;
  }
}
